body {
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.7em + 0.5vw);
  }
  
  /* Crie uma classe para centralizar elementos com flexbox */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Crie uma classe para ajustar o tamanho da imagem com base na largura da viewport */
  .img img {
    width: calc(7vw + 30px);
  }
  
  /* Estilize a barra de navegação com flexbox */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  .barra-nav{
    display: flex;
    border: none;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    background-image: linear-gradient(to right, #015c92, #050d46);

  }
  
  /* Estilize o círculo com flexbox e media queries */
  /* .circle {
    display: flex;
    width: 100%;
    height: 98vh;
    max-height: 786vh;
    max-width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #015c92, #050d46);
    color: white;
    /* padding: 30px; */
    /* margin: -388px;
    margin-top: -350px;
  } */
   
  @media (min-width: 768px) {
    .circle {
      margin-top: -17%;
    }
  }
  
  /* Ajuste o posicionamento do título com base na largura da viewport */
  #titulo {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
  }
  
  @media (min-width: 768px) {
    #titulo {
      margin-left: 15%;
      margin-right: 40%;
    }
  }
  
  /* Estilize a seção de inspeção com flexbox e media queries */
  .inspecao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .inspecao h1 {
    font-family: 'Questrial', sans-serif;
    color: #050d46;
    font-size: calc(1.5em + 1vw);
    margin-bottom: 2%;
  }
  
  .inspecao input {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: calc(3em + 1vw);
    width: 70%;
    max-width: 300px;
    margin-bottom: 2%;
  }
  
  .inspecao label {
    display: flex;
    align-items: center;
    font-size: calc(1em + 0.5vw);
    margin-bottom: 1%;
  }

input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
  }
  
  input[type="radio"]:checked + label {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  /* Estilização do hover */
  input[type="radio"] + label:hover {
    background-color: #050d46;
    border-color: #050d46;
    color: #fff;
  }

.mtd-trabalho{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 137vh;
}
.mtd-trabalho h1{
    font-family:'Questrial', sans-serif ;
    color: white;

}

.barra{
    display: flex;
    border: none;
    border-radius: 20px;
    width: 100%;
    justify-content:center ;
    background-image: linear-gradient(to right, #015c92, #050d46);
}

.planejamento-servico{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 70vh;
}

.planejamento-servico h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.epc{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 95vh;
}

.epc h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.epi{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 62vh;
}

.epi h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.rh{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 40vh;
}

.rh h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.observacao{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 50vh;
}

.observacao h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.veiculo{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 190vh;
}

.veiculo h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.assInspetor{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 43vh;
}

.assInspetor h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}
.assInspetor label{
    display: inline-grid;
}

.ferramentas{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 30vh;
}

.ferramentas h1{
    font-family:'Questrial', sans-serif ;
    color: white;
}

.btn-log {
    /* border-radius: 20px;
    padding: 1%;
    width: 60%;
    background-color: -o-linear-gradient(#015c92, #004e99, #050d46);
    color: #004e99; */
    /* border: 1px; */
    background-image: linear-gradient(to right, #015c92, #004e99, #050d46);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 12%;
    padding: 1%;
    margin-left: 87%;
}
 span{
    display: flex;
    align-items: center;
    
 }


    /* Estilos para telas grandes */
 
@media (min-width: 1200px) {
    .mtd-trabalho {
      height: 202vh;
    }
    .planejamento-servico {
      height: 112vh;
    }
    .epc {
      height: 147vh;
    }
    .epi {
      height: 81vh;
    }
    .rh {
      height: 57vh;
    }
    .observacao {
      height: 50vh;
    }
    .veiculo {
      height: 270vh;
    }
    .assInspetor {
      height: 20vh;
    }
    .ferramentas {
      height: 40vh;
    }
  }
  
  /* Estilos para telas médias */
  @media (max-width: 1199px) and (min-width: 768px) {
    .mtd-trabalho {
      height: 181vh;
    }
    .planejamento-servico {
      height: 100vh;
    }
    .epc {
      height: 130vh;
    }
    .epi {
      height: 72vh;
    }
    .rh {
      height: 57vh;
    }
    .observacao {
      height: 33vh;
    }
    .veiculo {
      height: 268vh;
    }
    .assInspetor {
      height: 30vh;
    }
    .ferramentas {
      height: 35vh;
    }
  }
  
  /* Estilos para telas pequenas */
  @media (max-width: 767px) {
    .mtd-trabalho {
      height: auto;
      min-height: 100vh;
    }
    .planejamento-servico {
      height: auto;
      min-height: 50vh;
    }
    .epc {
      height: auto;
      min-height: 80vh;
    }
    .epi {
      height: auto;
      min-height: 50vh;
    }
    .rh {
      height: auto;
      min-height: 30vh;
    }
    .observacao {
      height: auto;
      min-height: 52vh;
    }
    .veiculo {
      height: auto;
      min-height: 120vh;
    }
    .assInspetor {
      height: auto;
      min-height: 20vh;
    }
    .ferramentas {
      height: auto;
      min-height: 10vh;
    }
    .btn-log {
      margin-left: 93vh;
    }
  }