@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-family: 'Poppins', sans-serif;

}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    max-width: 1376px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    background-image: linear-gradient(to left, #015c92, #004e99);
    color: white;
    margin-top: -24px;
    margin-left: -15px;
    margin-right: -11px;
    border: none;
    border-radius: 80px;

}
li{
    display: inline-block;
    margin: 20px;
    list-style: none;
    
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:  hwb(221 12% 14%); 
    transition: 0.3s all;
    text-decoration: none;
 }

.sub-menu li a {
    color:black(0 0% 100%); text-decoration:none; display:block;
}

 .sub-menu li ul{
position:absolute;
top:25px;
left:0px;
background-color: gray;
display:none;
border: none;
border-radius: 5px;
 }

.sub-menu li:hover ul, .sub-menu li.over ul{display:block; transition: 0.3s all;}

.sub-menu li ul li{
    display:block;
    width:150px;
    } 

.sub-menu li{
    position:relative;
    float:left;
}

.sub-menu li a:hover{
    background:#235bd3;
    color:#fff;
    transition: 0.3s all;
}
.sub-menu{
    margin-right: 62px;
    margin-left: -52px;
    margin-top: 30px;
}
.img img{
    width: 96px;
    margin-right: -100px;
    margin-top: 13px;

}